{% extends 'base.html.twig' %}

{% block title %}Edition catégorie{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-between pb-5">
        <div>
            <h1 class="display-5 m-0">Edition catégorie</h1>
        </div>
        <a href="{{ path('category_list') }}" title="Retour à la liste" class="btn btn-outline-secondary">
            Retour à la liste
        </a>
    </div>

    <div class="w-50 mx-auto">
        {{ form(form) }}
    </div>

{% endblock %}